* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: auto;
  height: auto;
  /* background: #ecd6a9; */
  background: #eed3a3;
  overflow-y: hidden;
  justify-content: center;
  /* align-items: center; */
}

.restart-btn {
  display: flex;
  width: 128px;
  height: 24px;
  margin: 30px 10px 10px 800px;
  cursor: pointer;
}

.game-container {
  aspect-ratio: 1;
  background: #4f5c64;
  padding: 35px;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  position: absolute;
  width: 425px;
  height: 425px;
  display: block;
  justify-content: center;
  align-items: center;
  margin-left: 470px;
  align-content: center;
  top: 10%;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eed3a3;
  margin-top: -20px;
}

.word {
  margin: auto;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  border: 10px;
  border-radius: 10px;
  background: linear-gradient(222.53deg, #d6c890 3.36%, #d1c4b3 95.72%);
}

.cell {
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
}

.cell img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 1;
}

.cell:hover {
  box-shadow: 0 0 10px rgb(158, 151, 130);
}

.dot {
  position: absolute;
  width: 45px;
  height: 45px;
  z-index: 1;
}

.corner {
  position: relative;
  width: 30px;
  height: 30px;
}

.top-left {
  top: -8px;
  left: -9px;
  transform: translate(-50%, -50%);
}

.top-right {
  top: -42px;
  right: -337px;
  transform: translate(50%, -50%);
}

.bottom-left {
  bottom: -270px;
  left: -17px;
  transform: translate(-50%, 50%);
}

.bottom-right {
  bottom: -235px;
  right: -335px;
  transform: translate(50%, 50%);
}

.arrows {
  position: relative;
  width: 129px;
  height: 4px;
  transform: rotate(-90deg);
  z-index: 1;
}

.left {
  position: relative;
  width: 129px;
  height: 4px;
  top: 8px;
  left: 2px;
  transform: rotate(-195deg);
  z-index: 1;
}

.score-display {
  position: absolute;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color: #2a3744;
  font-size: 37px;
  width: 510px;
  height: 300px;
  top: 415px;
  left: 220px;
  border-radius: 0px 0px 40px 40px;
  margin-left: 450px;
  font-family: sans-serif;
}

.score-item {
  display: flex;
  align-items: center;
  gap: 40px;
}

.score {
  font-size: 24px;
  font-weight: bold;
  color: #2c3e50;
  margin-top: 10px;
  transition: color 0.3s ease-in-out;
}

.score:hover {
  transform: scale(1.1);
}

.white-text {
  color: white;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 75px;
}

.icon img {
  width: 75px;
  height: 75px;
}

.icon:hover img {
  transform: scale(1.1);
}

.reset-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.reset-button img {
  width: 56px;
  height: 56px;
  top: 3px;
  left: 3px;
  opacity: 1;
  margin: 0;
  transition: transform 0.5s ease-in-out;
}

.reset-button:active img {
  transform: rotate(360deg);
}

.rotate {
  animation: spin 0.5s ease-in-out;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.score {
  font-size: 1.5rem;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.icon img {
  transition: transform 0.3s ease-in-out;
}

.score.update {
  animation: scoreChange 0.5s ease-in-out;
}

.reset-button.clicked {
  animation: shake 0.3s ease-in-out;
}

.vs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 20px;
  margin-top: 97px;
  position: absolute;
  font-family: "Inter";
  font-weight: 700;
  font-size: 24px;
  line-height: 29.05px;
  letter-spacing: 40%;
  text-align: center;
}

.highlight {
  width: 117px;
  height: 150px;
  left: 325px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: #a8d0e6;
}

.loser {
  position: absolute;
  width: 134px;
  height: 134px;
  left: 61px;
  top: 60px;
  background: #ece5d5;
  box-shadow: inset -2px 2px 1px rgba(129, 113, 99, 0.4),
    inset -6px 6px 20px 2px rgba(173, 160, 142, 0.8),
    inset 6px -6px 7px 1px rgba(251, 250, 239, 0.9);
  border-radius: 4px;
  opacity: 0.2;
}

.result-banner {
  width: 1240px;
  height: 371px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  position: absolute;
  cursor: pointer;
  transform: translate(-50%, -50%);
  z-index: 1;
  animation: fadeInBanner 1s ease-out;
  box-shadow: 0px 5px 15px rgba(71, 70, 70, 0.15);
  margin-top: -30px;
  backdrop-filter: blur(20px);
  /* background: rgba(255, 255, 255, 0.95); */
  background: linear-gradient(0deg, #818181, #818181),
    radial-gradient(
      50% 50% at 50% 50%,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.3) 100%
    );
}

.horizontal-line {
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(
    90deg,
    transparent 0%,
    transparent 15%,
    #edd2a0 15%,
    #edd2a0 85%,
    transparent 85%,
    transparent 100%
  );
  justify-content: center;
}

.horizontal-line.top {
  top: -20px;
  width: 80%;
}

.horizontal-line.bottom {
  bottom: -9px;
}

.dotted-line {
  position: absolute;
  width: 100%;
  height: 2px;
  background-image: radial-gradient(circle, #ffb495 1px, transparent 1px),
    linear-gradient(
      90deg,
      transparent 0%,
      transparent 15%,
      #ebc985 15%,
      #ecd6a9 85%,
      transparent 85%,
      transparent 100%
    );
  background-position: center;
}

.dotted-line.top {
  top: -7px;
}

.dotted-line.bottom {
  bottom: -20px;
  width: 75%;
}

.dotted-border {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid #828c90;
  border-radius: 15px;
  margin: 15px;
  pointer-events: none;
}

.star-wins {
  display: flex;
  width: 294px;
  height: 289.5px;
  top: -100px;
  left: 473px;
  position: absolute;
}

.planet-wins {
  width: 250px;
  height: 250px;
  top: -110.27px;
  left: 480.7px;
  position: absolute;
}

.draw1-match {
  display: flex;
  width: 260px;
  height: 250;
  top: -120px;
  left: 351px;
  position: absolute;
}

.draw2-match {
  display: flex;
  width: 250px;
  height: 250px;
  top: -120px;
  left: 629px;
  position: absolute;
}

h2 {
  width: 521px;
  height: 87px;
  top: 134px;
  left: 360px;
  justify-content: center;
  align-content: center;
  align-items: center;
  display: flex;
  position: absolute;
}

.star-text {
  font-family: "Inter";
  font-weight: bold;
  font-size: 72px;
  line-height: 87.14px;
  letter-spacing: 20%;
  text-align: center;
  color: var(--Gray-900, #4f5d64);
}

.planet-text {
  font-family: "Inter";
  font-weight: 800;
  font-size: 72px;
  line-height: 87.14px;
  letter-spacing: 20%;
  text-align: center;
  color: var(--Gray-900, #4f5d64);
}

.draw-text {
  font-family: "Inter";
  font-weight: 800;
  font-size: 72px;
  line-height: 87.14px;
  letter-spacing: 20%;
  text-align: center;
  color: #e9b98b;
}

.buttons {
  width: 402px;
  height: 40px;
  top: 252px;
  left: 419px;
  gap: 24px;
  display: flex;
  justify-content: space-evenly;
  justify-content: center;
  position: absolute;
}

.star {
  background: linear-gradient(
      0deg,
      var(--X-Color-500, #c6d4d9),
      var(--X-Color-500, #c6d4d9)
    ),
    linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.0637952) 18.75%,
      rgba(0, 0, 0, 0) 49.71%,
      rgba(0, 0, 0, 0.0384349) 82.81%,
      rgba(0, 0, 0, 0.2) 100%
    );
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  justify-content: center;
}

.planet {
  background: linear-gradient(
      0deg,
      var(--O-Color-500, #e9b98b),
      var(--O-Color-500, #e9b98b)
    ),
    linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.0637952) 18.75%,
      rgba(0, 0, 0, 0) 49.71%,
      rgba(0, 0, 0, 0.0384349) 82.81%,
      rgba(0, 0, 0, 0.2) 100%
    );
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.draw {
  background: linear-gradient(0deg, #4f5d64, #4f5d64),
    linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.0637952) 18.75%,
      rgba(0, 0, 0, 0) 49.71%,
      rgba(0, 0, 0, 0.0384349) 82.81%,
      rgba(0, 0, 0, 0.2) 100%
    );
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

@keyframes fadeInBanner {
  0% {
    opacity: 0;
    transform: translate(-50%, -55%) scale(0.8);
  }
  50% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.05);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@media screen and (max-width: 768px) {
  body {
    width: 100%;
    height: 100%;
    background: #eed3a3;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
  }

  .restart-btn {
    /* margin: 10px auto; */
    width: 100px;
    height: 20px;
    /* margin-right: 5px; */
    margin-top:  45px;
    margin-left: 275px;
  }

  .title {
    font-size: 20px;
    /* margin: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .word {
    display: flex;
    justify-content: space-between;
}

  .dot {
    display: none;
  }

  .game-container {
    margin: 10px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    aspect-ratio: 1;
    position: relative;
    width: 365px;
    height: 365px;
    border-radius: 10px;
    margin-top: 40px;
  }

  .game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
  }

  .cell {
    width: 100px;
    height: 100px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    object-fit: contain;
    opacity: 1;
    justify-content: center;
    align-items: center;
  }

  .score-display {
    width: 100%;
    height: 100%;
    font-size: 24px;
    flex-direction: column;
    margin: 10px auto;
    align-content: center;
    justify-content: center;
    position: relative;
    top: 15px;
    padding: 10px;
  }

  .score-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    margin-left: -50px;
  }

  .vs {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 29px;
    top: 237px;
    left: 242px;
  }

  .icon {
    width: 60px;
    height: 60px;
  }

  .icon img {
    width: 60px;
    height: 60px;
  }

  .reset-button {
    width: 60px;
    height: 60px;
  }

  .result-banner {
    width: 100%;
    height: 25%;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: relative;
    margin-top: -10px;
    animation: fadeInBanner 1s ease-out;
  }

  .horizontal-line,
  .dotted-line {
    width: 90%;
    display: none;
  }

  .star {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    justify-content: center;
  }

  .planet {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    justify-content: center;
  }

  .draw {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    justify-content: center;
  }

  .star-wins,
  .planet-wins {
    width: 100px;
    height: 100px;
    top: -40px;
    left: auto;
    margin: 10px auto;
  }

  .draw1-match{
    width: 100px;
    height: 100px;
    top: -40px;
    left: auto;
    margin: 10px auto;
    margin-left:-85px;
  }

  .draw2-match{
    width: 100px;
    height: 100px;
    top: -40px;
    left: auto;
    margin: 10px auto;
    margin-right:-65px;
  }

  h2 {
    font-size: 26px;
    width: auto;
    height: auto;
    /* text-align: center; */
    justify-content: center;
    position: absolute;
  }

  .buttons {
    width: 37px;
    height: 25px;
    gap: 24px;
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
    position: absolute;
    margin-left: -250px;
    margin-top: -140px;
  }

  .star-text,
  .planet-text,
  .draw-text {
    font-size: 36px;
    line-height: 87.14px;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    top: 50px;
    margin-top: -120px;
    margin-left: -720px;
  }

  .highlight{
    background: none;
  }

}
